<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        
            <div id="app">
                <h1>
                    Список дел
                </h1>
                <br>
                <div>
                    <label for="productName">Название дела:</label>
                    <br>
                    <input type="text" id="productName" v-model="newProduct">
                    <button @click="addProduct">Добавить</button>
                </div>
                <ul>
                    <li v-for="(product, index) in products">{{product}}                        
                    </li>
                </ul>
            </div>
        
        
            <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
            <script>
                new Vue({
                    el: '#app',
                    data: {
                        newProduct: '',
                        products: []
                    },
                    methods: {
                        addProduct() {
                            if (this.newProduct.trim() !== ''){
                                this.products.push(this.newProduct)
                                this.newProduct = ''
                            }
                        },
                        removeProduct(index) {
                            this.products.splice(index, 1)
                        }
                    },
                })
            </script>
    </div>
        </body>
        </html>